.pagination {
  // scss-docs-start pagination-css-vars
  --#{$variable-prefix}pagination-padding: #{$pagination-padding-y $pagination-padding-x};
  --#{$variable-prefix}pagination-color: #{$pagination-color};
  --#{$variable-prefix}pagination-bg: #{$pagination-bg};
  --#{$variable-prefix}pagination-border-width: #{$pagination-border-width};
  --#{$variable-prefix}pagination-border-color: #{$pagination-border-color};
  --#{$variable-prefix}pagination-border-radius: #{$pagination-border-radius};
  // scss-docs-end pagination-css-vars

  display: flex;
  @include list-unstyled();
}

.page-link {
  position: relative;
  display: block;
  padding: var(--#{$variable-prefix}pagination-padding);
  font-size: var(--#{$variable-prefix}pagination-font-size, inherit);
  color: var(--#{$variable-prefix}pagination-color);
  text-decoration: if($link-decoration == none, null, none);
  background-color: var(--#{$variable-prefix}pagination-bg);
  border: var(--#{$variable-prefix}pagination-border-width) solid var(--#{$variable-prefix}pagination-border-color);
  @include transition($pagination-transition);

  &:hover {
    --#{$variable-prefix}pagination-color: #{$pagination-hover-color};
    --#{$variable-prefix}pagination-bg: #{$pagination-hover-bg};
    --#{$variable-prefix}pagination-border-color: #{$pagination-hover-border-color};

    z-index: 2;
    text-decoration: if($link-hover-decoration == underline, none, null);
  }

  &:focus {
    --#{$variable-prefix}pagination-color: #{$pagination-focus-color};
    --#{$variable-prefix}pagination-bg: #{$pagination-focus-bg};
    --#{$variable-prefix}pagination-box-shadow: #{$pagination-focus-box-shadow};

    z-index: 3;
    outline: $pagination-focus-outline;
  }
}

.page-item {
  &:not(:first-child) .page-link {
    margin-left: $pagination-margin-start;
  }

  @if $pagination-margin-start == (-$pagination-border-width) {
    &:first-child {
      .page-link {
        @include border-start-radius(var(--#{$variable-prefix}pagination-border-radius));
      }
    }

    &:last-child {
      .page-link {
        @include border-end-radius(var(--#{$variable-prefix}pagination-border-radius));
      }
    }
  } @else {
    // Add border-radius to all pageLinks in case they have left margin
    .page-link {
      @include border-radius(var(--#{$variable-prefix}pagination-border-radius));
    }
  }

  &.active .page-link {
    --#{$variable-prefix}pagination-color: #{$pagination-active-color};
    --#{$variable-prefix}pagination-bg: #{$pagination-active-bg};
    --#{$variable-prefix}pagination-border-color: #{$pagination-active-border-color};

    z-index: 3;
    @include gradient-bg();
  }

  &.disabled .page-link {
    --#{$variable-prefix}pagination-color: #{$pagination-disabled-color};
    --#{$variable-prefix}pagination-bg: #{$pagination-disabled-bg};
    --#{$variable-prefix}pagination-border-color: #{$pagination-disabled-border-color};

    pointer-events: none;
  }
}


//
// Sizing
//

.pagination-lg {
  @include pagination-size($pagination-padding-y-lg, $pagination-padding-x-lg, $font-size-lg, $pagination-border-radius-lg);
}

.pagination-sm {
  @include pagination-size($pagination-padding-y-sm, $pagination-padding-x-sm, $font-size-sm, $pagination-border-radius-sm);
}
